node_modules
**/node_modules
.git
.gitignore
.husky
.vscode
.env
.env.*
!.env.example
**/dist
**/.next
**/*.tsbuildinfo
**/coverage
**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.pylint_cache
infrastructure
README.md
